.eventkoi-root {
  .eventkoi-image {
    img {
      max-height: 450px;
    }
  }
  .eventkoi-flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .eventkoi-share {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    min-height: 56px;
  }
}
